.sections-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  min-height: 50vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  margin-bottom: 5rem;
  gap: 2rem;
  transform: translateX(-20vw);
  opacity: 0;
  transition: all .3s;
}

.active {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

h3 {
  font-size: 2.5rem;
  color: #fff;
  justify-self: center;
}

.me {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}

@media screen and (max-width:900px) {
  .me {
    flex-direction: column;
  }
}


.typing-text h3 {
  padding-bottom: .5rem;
  letter-spacing: -2px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.typing-text h3:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-size: 2.75rem;
  width: 110%;
  animation: shring-animation 2s steps(40, end) forwards, blink .5s step-end infinite alternate;
  color: #fff;
}

.typing-text h3:nth-child(2) {
  opacity: 0;
  color: #9c0101;
  font-size: 4rem;
  width: 110%;
  animation: shring-animation 2.2s steps(40, end) 2s forwards, blink .5s step-end infinite alternate;
}

.typing-text h3:nth-child(3) {
  opacity: 0;
  font-family: "Roboto", sans-serif;
  color: #676775;
  font-size: 1.25rem;
  width: 110%;
  letter-spacing: .5px;
  animation: shring-animation 1s steps(40, end) 4.2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    opacity: 0;
    width: 0;
  }

  1% {
    opacity: 1;
    border-right: 1px solid rgb(255, 255, 255);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
  gap: 2rem;
}

.buttons a {
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .1s ease-in;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#contact-button {
  background-color: #9c0101;
  color: #fff;
}

#download {
  background-color: #fff;
  color: #19191D;
}

.image {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image img {
  max-width: 30rem;
  animation: moveImage 5s infinite;
}

@keyframes moveImage {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.shadow {
  height: 10px;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  animation: shadowMove 5s infinite;
}

@keyframes shadowMove {
  0% {
    transform: scaleX(.8);
  }

  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(.8);
  }
}

.about {
  flex: 1;
  max-width: 65%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.about p {
  font-size: 1.15rem;
  text-align: center;
  color: #707070;
  font-weight: 400;
}

#habilidades{
  padding: 5rem 0rem;
}

.habilities {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 10rem));
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.tag {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .3s;
  gap: 1rem;
  border: 1px solid #fff;
  border-bottom: 3px solid #9c0101 !important;
  border-radius: 20px 0 0 0;
}

.icon {
  transition: transform .3s;
}

.tag h2 {
  color: #fff;
}

.tag:hover {
  transform: scale(1.1);
}

.tag:hover>.icon {
  transform: rotateZ(360deg);
}

#projects .inner {
  width: 90%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 35rem));
  gap: 1.5rem;
  margin-top: 3rem;
}

.project {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #09090a;
  border: 3px solid rgba(103, 103, 117, 0.5);
  border-radius: 10px;
  transition: transform .3s;
  overflow: hidden;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.1);
}

.info {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 220;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 35, 36, 0.8);
  transition: all .3s;
}

.info h2 {
  color: #000000;
}

.project:hover>.info {
  opacity: 0;
  transform: translateY(-100%);
}

.project img {
  height: auto;
  max-width: 100%;
}

.icons {
  display: flex;
  gap: 3px;
  padding: 5px;
}

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(9, 9, 10,0.35);
  z-index: 999;
}

.modal .container{
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #19191D;
  border-radius: 20px;
  margin-bottom: 10vh;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal .container button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 5px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .3s;
}

.modal .container button:hover{
  transform: scale(1.1);
}

.modal .inner{
  width: 85vw;
  height: 65vh;
  display: flex;
  background-color: #19191D;
  border-radius: 20px;
}

@media screen and (max-width:900px) {
  .modal .inner{
    height: 80vh !important;
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

.modal-data {
  flex: 1;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.modal-data img {
  width: 90%;
}

.modal-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal-links a {
  color: #fff;
  background-color: #9c0101;
  padding: 7px 15px;
  border-radius: 5px;
  transition: transform .3s;
}

.description {
  max-height: 50vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.description h3{
  color: #9c0101;
}

.description p {
  max-height: 60%;
  width: 95%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
  overflow: auto;
}

.tecnologies{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#contact > h3{
  margin-bottom: 3rem;
}

#contact .inner{
  height: 100%;
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 15rem));
  gap: 1rem;
}

.contato{
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform .3s;
}

.contact-icon{
  padding: 1.1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 1rem;
  border: 2px solid #19191D;
}

.contato h3{
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .1px;
}

.contato p{
  text-align: center;
  color: #707070;
  font-weight: 100;
  font-size: 1.1rem;
  text-wrap: wrap;
}

